{
  "default_profile": "production",
  "profiles": {
    "production": {
      "ssh_tunnel": "baze2_tunnel"
    }
  },
  "ssh_tunnels": {
    "baze2_tunnel": {
      "host": "ssh.example.com",
      "port": 22,
      "user": "deploy",
      "key": "ssh_key",
      "remote_host": "127.0.0.1",
      "remote_port": 3306
    }
  }
}
